.rapport .cm-header.cm-header-4{
  filter: invert(50%);
}

.rapport .cm-header.cm-header-6{
  filter: invert(35%);
}

.rapport h4{
  filter: invert(50%);
}

.rapport h6{
  filter: invert(35%);
}

body {
    --metadata-display-reading: none; 
}